* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --g_blue: #0598e7;
  --g_light_blue: #3aabe7bb;
  --g_orange: hsl(46, 88%, 74%);
  --g_water_blue: hsla(202, 60%, 18%, 0.904);
  --g_font_color: hsla(0, 0%, 100%, 0.836);
  --g_font_color_dark_blue: hsla(214, 69%, 18%, 0.904);
  --g_transtration: all 0.3s linear;
  --g_double_light: hsl(208, 71%, 89%);
  --g_background_blue: hsla(205, 48%, 91%, 0.596);
  --g_white: hsl(0, 0%, 100%);
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 334px;
  background-color: var(--g_background_blue);
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li a {
  color: var(--g_font_color);
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: var(--g_transtration);
  letter-spacing: 1px;
}

li a:hover {
  color: var(--g_light_blue);
}

.even_section {
  margin: 80px auto;
  padding: 80px 0;
  height: 100px;
  background-color: var(--g_water_blue);
  color: var(--g_white);
}

.odd_section {
  color: var(--g_font_color_dark_blue);
}

/* nav bar  */
nav {
  width: 100%;
  height: 100%;
  background-color: var(--g_water_blue);
}

.nav_center {
  padding: 8px 0 0 0;
  display: block;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav_items ul {
  margin: 1rem 0;
}

.nav_items li {
  text-transform: capitalize;
  padding: 16px 16px;
}

.nav_items li a {
  font-size: 1rem;
  display: block;
  padding: 16px 16px;
  transition: var(--g_transtration);
  color: var(--g_font_color);
}

.nav_items li a:hover {
  font-style: italic;
}

.nav_items .sign_up {
  color: var(--g_blue);
  width: 103px;
  height: 38px;
  margin: 0 0 16px 0;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: medium;
  transition: var(--g_transtration);
}

.nav_items .sign_up:hover {
  background-color: var(--g_blue);
  color: white;
  font-weight: bold;
}

.nav_items {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: var(--g_transtration);
}

.nav_show {
  height: 300px;
}

/* .nav_center {
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
} */

/* .clock_logo {
  height: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .clock_logo li {
  display: inline-block;
  padding-left: 40px;
} */

/* .register a {
  padding-left: 40px;
  color: var(--g_font_color);
  transition: var(--g_transtration);
} */

/* .register a:hover {
  color: var(--g_light_blue);
  text-shadow: 1px 1px 1px #9ae4d1;
} */

/* .register a button {
  color: rgba(114, 191, 236, 0.932);
  width: 103px;
  height: 38px;
  background-color: aliceblue;
  border: 2px solid rgba(114, 191, 236, 0.932);
  border-radius: 5px;
  font-size: medium;
  transition: var(--g_transtration);
} */

/* a button:hover {
  background-color: var(--g_blue);
  color: white;
  font-weight: bold;
} */

nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav_logo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  transition: var(--g_transtration);
}

.nav_logo button:hover {
  transform: scale(1.5, 1.5);
}

@media screen and (min-width: 1100px) {
  .nav_logo {
    display: none;
  }

  .nav_items {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 150px;
    top: 0;
    display: flex;
    align-items: center;
  }

  .nav_items .sign_up {
    margin-top: 16px;
  }

  .item2 {
    display: flex;
    flex-grow: 2;
  }

  .item4 {
    display: flex;
    flex-grow: 1;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 334px;
  width: 100%;
  padding: 50px 0 0 0;
  background-color: var(--g_water_blue);
}

.footer_site_links {
  width: 75vw;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(150px, auto);
}

.footer_site_links li {
  height: 32px;
  font-size: 15px;
}
.footer_site_links .items_container_1 {
  justify-self: start;
}

.footer_site_links .items_container {
  justify-self: end;
}

.footer_site_links span {
  display: block;
  height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: rgb(235, 236, 227);
}

.footer_rights_and_terms {
  height: 28px;
  display: flex;
  width: 75vw;
  margin: 0 auto;
  justify-content: space-between;
  letter-spacing: 1px;
  font-size: 12px;
  color: var(--g_white);
}

.footer_rights_and_terms .footer_rights {
  font-size: 12px;
  width:200px;
  text-align: left;
}

.footer_rights_and_terms .footer_terms li {
  display: inline;
  padding-left:15px;
}

/* .footer_rights_and_terms .footer__terms  li {
  display: flex;
  float: right;
  color: var(--g_white) !important;
  padding-left: 20px;
} */

hr {
  width: 75vw;
  margin: 0 auto;
  border-width: 0;
  height: 1px;
  background-color: rgba(230, 233, 235, 0.925);
}

.image_container {
  position: relative;
  padding-bottom: 6.25%;
  width: 75vw;
}
.image_container .time_tracker_img {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
}

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.video_container iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}

.time_management_features,
.time_tracking_apps,
.why_clockify,
.free_forever {
  height: 100%;
}

.time_tracker,
.time_management_content,
.tracking_apps_content,
.why_content,
.free_content {
  margin: 0 auto;
  width: 75vw;
}

.items_container_1 span {
  display: block;
  margin-bottom: 1rem;
}

.time_tracker,
.time_management_features,
.time_tracking_apps,
.why_clockify,
.free_forever,
.join_millions_users,
.start_tracking {
  padding: 150px 0;
  text-align: center;
}

.describle_title {
  font-size: 40px;
  font-family: "Optima", sans-serif;
  font-weight: 1px !important;
  font-style: oblique;
  padding-bottom: 16px;
}

.describle_content {
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 150%;
  width: 77%;
  margin: 0 auto 2rem auto;
}

.list_title {
  text-transform: uppercase;
  padding-bottom: 8px;
}

.list_item {
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 150%;
}


.time_tracker_button button {
  text-transform: uppercase;
  width: auto;
  font-size: 20px;
  color: var(--g_white);
  background-color: var(--g_blue);
  border: none;
  padding: 10px 15px;
  border-radius: 5%;
  box-shadow: 2px 1.5px 5px var(--g_font_color_dark_blue);
}

.small_description {
  display: block;
  font-size: 10px;
  margin: 10px 0 50px 0;
  color:var(--g_font_color_dark_blue);
}

.management_features {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 2fr;
}
