* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --g_blue: #049ff2;
  --g_light_blue: #3aabe7bb;
  --g_orange: hsl(46, 88%, 74%);
  --g_water_blue: hsla(191, 68%, 94%, 0.521);
  --g_font_color: hsla(0, 1%, 15%, 0.651);
  --g_transtration: all 0.3s linear;
  --g_double_light: hsla(203, 44%, 93%, 0.918);
  --g_white: hsla(0, 0%, 97%, 0.973);
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 334px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.even_section {
  margin: 80px auto;
  padding: 80px 0;
  height: 100px;
  background-color: var(--g_water_blue);
}

/* nav bar  */
nav {
  width: 100%;
  height: 100%;
  background-color: var(--g_water_blue);
}

.nav_center {
  padding: 16px;
  display: block;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav_items ul {
  margin: 1rem 0;
}

.nav_items li {
  text-transform: capitalize;
  padding: 16px 16px;
}

.nav_items li a {
  font-size: 1rem;
  display: block;
  padding: 16px 16px;
  transition: var(--g_transtration);
  color: var(--g_font_color);
}

.nav_items li a:hover {
  font-style: italic;
  font-weight: bold;
  padding-right: 36px;
  background: var(--g_double_light);
}

.nav_items .sign_up {
  color: rgba(114, 191, 236, 0.932);
  width: 103px;
  height: 38px;
  margin-top: 16px;
  background-color: aliceblue;
  border: 2px solid rgba(114, 191, 236, 0.932);
  border-radius: 5px;
  font-size: medium;
  transition: var(--g_transtration);
}

.nav_items .sign_up:hover {
  background-color: var(--g_blue);
  color: white;
  font-weight: bold;
}

/* .nav_items {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: var(--g_transtration);
} */

/* .nav_center {
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
} */

/* .clock_logo {
  height: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .clock_logo li {
  display: inline-block;
  padding-left: 40px;
} */

/* li a {
  color: var(--g_font_color);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  transition: var(--g_transtration);
} */

/* li a:hover {
  text-shadow: 1px 1px 1px #9ae4d1;
  color: var(--g_light_blue);
} */

/* .register a {
  padding-left: 40px;
  color: var(--g_font_color);
  transition: var(--g_transtration);
} */

/* .register a:hover {
  color: var(--g_light_blue);
  text-shadow: 1px 1px 1px #9ae4d1;
} */

/* .register a button {
  color: rgba(114, 191, 236, 0.932);
  width: 103px;
  height: 38px;
  background-color: aliceblue;
  border: 2px solid rgba(114, 191, 236, 0.932);
  border-radius: 5px;
  font-size: medium;
  transition: var(--g_transtration);
} */

/* a button:hover {
  background-color: var(--g_blue);
  color: white;
  font-weight: bold;
} */

nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav_logo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  transition: var(--g_transtration);
}

.nav_logo button:hover {
  transform: scale(1.5, 1.5);
}

@media screen and (min-width: 925px) {
  body{
    display: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 334px;
  width: 100%;
  padding: 50px 0;
  background-color: var(--g_water_blue);
}

.footer_site_links {
  width: 75vw;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  /* grid-auto-columns:minmax(150px, auto); */
  grid-auto-rows: minmax(150px, auto);
}

.footer_site_links li {
  height: 32px;
  font-size: 15px;
}
.footer_site_links .items_container_1 {
  justify-self: start;
}

.footer_site_links .items_container {
  justify-self: end;
}

.footer_site_links span {
  display: block;
  height: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.788);
}

.footer_rights_and_terms {
  height: 28px;
  display: block;
  width: 75vw;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(122, 150, 167, 0.788);
}
.footer_rights_and_terms .footer__rights {
  display: flex;
  float: left;
}
.footer_rights_and_terms .footer__terms a {
  display: flex;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(122, 150, 167, 0.788) !important;
  padding-left: 20px;
}

hr {
  width: 75vw;
  margin: 0 auto;
  border-width: 0;
  height: 1px;
  background-color: rgba(230, 233, 235, 0.925);
}

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.video_container iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}

.time_management_features,
.time_tracking_apps,
.why_clockify,
.free_forever {
  height: 100%;
}

.time_tracker,
.time_management_content,
.tracking_apps_content,
.why_content,
.free_content {
  margin: 0 auto;
  width: 75vw;
}
