* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --g_blue: #0598e7;
  --g_light_blue: #3aabe7bb;
  --g_orange: hsl(46, 88%, 74%);
  --g_water_blue: hsla(202, 60%, 18%, 0.904);
  --g_font_color: hsla(0, 0%, 100%, 0.836);
  --g_font_color_dark_blue: hsla(214, 69%, 18%, 0.904);
  --g_transtration: all 0.3s ease-in-out;
  --g_double_light: hsl(208, 71%, 89%);
  --g_background_blue: hsla(205, 48%, 91%, 0.596);
  --g_white: hsl(0, 0%, 100%);
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 334px;
  background-color: var(--g_background_blue);
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li a {
  color: var(--g_font_color);
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: var(--g_transtration);
}

li a:hover {
  color: var(--g_light_blue);
}

.even_section {
  margin: 80px auto;
  padding: 80px 0;
  height: 100px;
  background-color: var(--g_water_blue);
  color: var(--g_white);
}

.odd_section {
  color: var(--g_font_color_dark_blue);
}

/* nav bar  */
nav {
  width: 100%;
  height: 100%;
  background-color: var(--g_water_blue);
}

.nav_center {
  padding: 8px 0 0 0;
  display: block;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav_items ul {
  margin: 1rem 0;
}

.nav_items li {
  text-transform: capitalize;
  padding: 16px 16px;
}

.nav_items li a {
  font-size: 1rem;
  display: block;
  padding: 8px 16px;
  transition: var(--g_transtration);
  color: var(--g_font_color);
}

.nav_items li a:hover {
  font-style: italic;
}

.nav_items .sign_up {
  color: var(--g_blue);
  width: 103px;
  height: 38px;
  margin: 10px 0 16px 0;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: medium;
  transition: var(--g_transtration);
}

.nav_items .sign_up:hover {
  background-color: var(--g_blue);
  color: white;
  font-weight: bold;
}

.nav_items {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: var(--g_transtration);
}

.nav_show {
  height: 300px;
}

/* .nav_center {
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
} */

/* .clock_logo {
  height: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .clock_logo li {
  display: inline-block;
  padding-left: 40px;
} */

/* .register a {
  padding-left: 40px;
  color: var(--g_font_color);
  transition: var(--g_transtration);
} */

/* .register a:hover {
  color: var(--g_light_blue);
  text-shadow: 1px 1px 1px #9ae4d1;
} */

/* .register a button {
  color: rgba(114, 191, 236, 0.932);
  width: 103px;
  height: 38px;
  background-color: aliceblue;
  border: 2px solid rgba(114, 191, 236, 0.932);
  border-radius: 5px;
  font-size: medium;
  transition: var(--g_transtration);
} */

/* a button:hover {
  background-color: var(--g_blue);
  color: white;
  font-weight: bold;
} */

nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@keyframes heart_beats {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.nav_logo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  transition: var(--g_transtration);
  animation-name: heart_beats;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.nav_logo button:hover {
  transform: scale(1.5, 1.5);
}

@media screen and (min-width: 1100px) {
  .nav_logo {
    display: none;
  }

  .nav_items {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 150px;
    top: 0;
    display: flex;
    align-items: center;
  }

  .nav_items .sign_up {
    margin-top: 16px;
  }

  .item2 {
    display: flex;
    flex-grow: 2;
  }

  .item4 {
    display: flex;
    flex-grow: 1;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 334px;
  width: 100%;
  padding: 50px 0 0 0;
  background-color: var(--g_water_blue);
}

.footer_site_links {
  width: 75vw;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(150px, auto);
}

.footer_site_links li {
  height: 32px;
  font-size: 15px;
}
.footer_site_links .items_container_1 {
  justify-self: start;
}

.footer_site_links .items_container {
  justify-self: end;
}

.footer_site_links span {
  display: block;
  height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: rgb(235, 236, 227);
}

.footer_rights_and_terms {
  height: 28px;
  display: flex;
  width: 75vw;
  margin: 0 auto;
  justify-content: space-between;
  letter-spacing: 1px;
  font-size: 12px;
  color: var(--g_white);
}

.footer_rights_and_terms .footer_rights {
  font-size: 12px;
  width: 200px;
  text-align: left;
}

.footer_rights_and_terms .footer_terms li {
  display: inline;
  padding-left: 15px;
}

/* .footer_rights_and_terms .footer__terms li {
  display: flex;
  float: right;
  color: var(--g_white) !important;
  padding-left: 20px;
} */

hr {
  width: 75vw;
  margin: 0 auto;
  border-width: 0;
  height: 1px;
  background-color: rgba(230, 233, 235, 0.925);
}

.image_container {
  position: relative;
  padding-bottom: 6.25%;
  width: 75vw;
}
.image_container .time_tracker_img {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
}

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.video_container iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}

.time_management_features,
.time_tracking_apps,
.why_clockify,
.free_forever {
  height: 100%;
}

.time_tracker,
.time_management_content,
.tracking_apps_content,
.why_content,
.free_content {
  margin: 0 auto;
  width: 75vw;
}

.items_container_1 span {
  display: block;
  margin-bottom: 1rem;
}

.time_tracker,
.time_management_features,
.time_tracking_apps,
.why_clockify,
.free_forever,
.join_millions_users,
.start_tracking {
  padding: 150px 0;
  text-align: center;
}

.describle_title {
  font-size: 50px;
  font-family: "Optima", sans-serif;
  font-weight: 1px !important;
  font-style: oblique;
  padding-bottom: 16px;
}

.describle_content {
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 150%;
  width: 77%;
  margin: 0 auto 2rem auto;
}

.list_title {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.list_item {
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 150%;
  padding-left: 20px;
  font-family: "Optima", sans-serif;
}

.free_forever_list img,
.list_item img {
  width: 13px;
  height: 13px;
}

.time_tracker_button button {
  text-transform: uppercase;
  width: auto;
  font-size: 20px;
  color: var(--g_white);
  background-color: var(--g_blue);
  border: none;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 2px 1.5px 5px var(--g_font_color_dark_blue);
}

.small_description {
  display: block;
  font-size: 10px;
  margin: 10px 0 50px 0;
  color: var(--g_font_color_dark_blue);
}

.section_padding {
  padding-top: 80px;
}

.grid_container {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

.grid_item {
  position: relative;
  width: 55vw;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto;
}

.grid_item .management_img {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 100%;
  height: auto;
}

.grid_item .text_item {
  position: absolute;
  left: 0px;
  top: 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.grid_item .text_item ul {
  text-align: start;
}

.time_tracker_button {
  display: block;
}

@media screen and (min-width: 850px) {
  .gird_container_2_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_item {
    position: relative;
    width: 47vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .gird_container_2_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    grid-gap: 1rem;
    justify-content: center;
    max-width: 70vw;
    height: auto;
  }

  .grid_item {
    position: relative;
    width: 40vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid_item .management_img {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 100%;
    height: auto;
    display: flex;
  }

  .grid_item .text_item {
    position: absolute;
    left: 0px;
    top: 0;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .management_item_1 {
    order: 1;
  }
  .management_item_2 {
    order: 1;
  }
  .management_item_3 {
    order: 2;
  }
  .management_item_4 {
    order: 1;
  }

  .management_item_5 {
    order: 3;
  }
  .management_item_6 {
    order: 3;
  }
}

.apps_title {
  color: var(--g_font_color_dark_blue);
  font-weight: bold;
  font-size: 1rem;
  display: block;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.apps_button {
  height: 40px;
  width: 120px;
  margin: 0 10px;
  border: none;
  background-color: var(--g_font_color_dark_blue);
  background-image: linear-gradient(
    to right,
    rgb(60, 139, 243),
    rgb(70, 173, 233)
  );
  border-radius: 5px;
  font-size: 18px;
  color: var(--g_white);
}

.start_tracking_time {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 1rem;
  color: var(--g_font_color_dark_blue);
}

.start_tracking_time li {
  padding: 0 15px;
}

.free_forever_list {
  padding-left: 50px;
  text-align: left;
}
.free_forever_list li {
  padding: 10px 0;
}

.free_content {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.free_forever_letter {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bolder;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(179, 201, 240), rgb(14, 165, 211));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: rotate_letter;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate_letter {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(9deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.last_free_item {
  padding-top: 15px;
  color: var(--g_blue);
}

.why_content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.why_track_time-item {
  margin: 1rem 0;
  width: 60vw;
  border-radius: 10px;
}

.why_content article:nth-child(even) {
  background-color: rgb(255, 255, 255);
  margin-left: 20%;
  color: var(--g_font_color_dark_blue);
  box-shadow: 2px 2px 3px 1px rgb(97, 191, 253);
  transition: var(--g_transtration);
}

.why_content article:nth-child(odd) {
  background-color: rgba(151, 224, 255, 0.836);
  color: var(--g_white);
  box-shadow: 2px 2px 3px 1px rgb(246, 248, 248);
}

.why_content article:nth-child(odd) h3,
.why_content article:nth-child(odd) p {
  text-shadow: 1px 1px 2px rgb(8, 6, 109);
}

.why_track_time-item h3 {
  margin-bottom: 1rem;
}

.why_track_time-item p {
  font-size: 1rem;
  text-align: left;
}

.why_track_time-item .why_link {
  display: block;
  float: right;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.why_track_time-item .why_link:hover {
  display: block;
  float: right;
  margin-bottom: 2rem;
  margin-right: 3rem;
  animation-name: back_and_forth;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes back_and_forth {
  0% {
    padding-right: 0px;
  }

  50% {
    padding-right: 10px;
  }

  100% {
    padding-right: 0px;
  }
}

.help {
  right: 2rem;
  bottom: 2rem;
  width: 120px;
  height: 50px;
  position: fixed;
  z-index: 1;
  border-radius: 50px;
  border: none;
}

.hidden_box{
  visibility: hidden;
  transition: var(--g_transtration);
}

.help .help_content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(75, 149, 233);
  border: none;
  outline: none;
  border-radius: 50px;
  color: var(--g_white);
  font-size: 20px;
  border: 3px solid rgba(57, 119, 190, 0.774);
}

.help_content img {
  width: 35px;
  height: 35px;
  padding: 6px;
}


.contact_us_box {
  right: 1rem;
  bottom: 1rem;
  width: 320px;
  height: 500px;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 15px;
  background-color: white;
}

.contact_us_box .close_bar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  background-color: rgb(66, 132, 207);
}

.close_bar .contact {
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: var(--g_white);
  font-weight: bold;
  font-size: 18px;
}

.close_bar .close_icon_box{
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  bottom: 16px;
  right: 20px;
  background-color: rgba(199, 186, 186, 0.178);
  border-radius: 2px;
}

.close_bar .close_icon {
  position: absolute;
  display: flex;
  width: 20px;
  height: 5px;
  bottom: 8px;
  background-color: var(--g_white);
}

.contact_infotmation {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin:0 25px;
  color:var(--g_font_color_dark_blue);
  font-size:14px;
}

.contact_infotmation input {
  width: 100%;
  height: 50px;
  border: 2px solid rgba(128, 128, 128, 0.527);
  border-radius: 7px;
}

.contact_infotmation label{
  padding:10px 0;
}

.contact_infotmation .attach {
  padding:10px 0;
}

.send_bar {
  position: absolute;
  display: flex;
  justify-items: end;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(66, 132, 207);
  border-radius: 0 0 12px 12px;
}

.send_bar .send_btn {
  height: 30px;
  width: 60px;
  margin-left:75%;
  margin-top:10px;
  border: none;
  bottom:30px;
  right:20px;
  border-radius: 3px;
  border:0;
  background-color: rgb(255, 255, 255);
  color:var(--g_blue);
  font-weight: bold;
}

